.feedback__container {
    margin-bottom: 40px;
    text-align: center;
}
.feedback__list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.feedback__title {
    font-size: 26px;
}
.feedback__item+.feedback__item {
    margin-left: 10px;
}
.feedback__btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;

    cursor: pointer;

    background-color: lightgray;
    color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.08),
            0 3px 1px rgba(0, 0, 0, 0.1);
  
}